body {
    background-color: aquamarine;
}

p.untertitel {
    text-decoration-line: underline;
    text-align: center;
    font-size: 20pt;
}
h1 {
    text-decoration-line: underline;
    font-size: 35pt;
    font-family: 'Courier New', Courier, monospace;
    color:blueviolet;
    text-align: center;
}
#einleitung {
    padding: 20px;
    border: 5px solid red;
}

#a a {
    margin-right: 50px; 
}
#a {
    margin-top: 50px;
}

